In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 任务一

In [2]:
# ans1_1
order = pd.read_excel("./模块B订单信息表.xlsx", sheet_name=0, dtype={"数量": int})
customer = pd.read_excel("./模块B客户信息表.xlsx", sheet_name=0)

In [3]:
customer["客户等级"].unique()

array(['高价值客户', '低价值客户', '一般价值客户'], dtype=object)

In [4]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   客户编号    790 non-null    object
 1   性别      790 non-null    object
 2   年龄      790 non-null    int64
 3   学历      790 non-null    object
 4   职业      790 non-null    object
 5   收入      790 non-null    object
 6   手机号码    790 non-null    object
 7   婚姻状况    790 non-null    object
 8   邮箱地址    790 non-null    object
 9   家庭地址    790 non-null    object
 10  是否退休    790 non-null    object
 11  客户等级    790 non-null    object
dtypes: int64(1), object(11)
memory usage: 74.2+ KB

In [5]:
ans1_2 = customer.query("`客户等级` == '高价值客户'")
ans1_2

,客户编号,性别,年龄,学历,职业,收入,手机号码,婚姻状况,邮箱地址,家庭地址,是否退休,客户等级
0,Cust-10015,男,34,高中,普通工人,5至10万,151****0139,是,jaclyn12@adventure-works.com,3448 Sun View Terr.,否,高价值客户
6,Cust-10105,女,27,大专,普通工人,10至20万,147****0188,否,ian57@adventure-works.com,1940 C Mt. Hood Circle,否,高价值客户
8,Cust-10135,女,40,本科,公司白领,20至30万,166****0173,否,jesse15@adventure-works.com,8811 The Trees Dr.,否,高价值客户
11,Cust-10180,男,27,高中,普通工人,5至10万,186****0185,是,morgan29@adventure-works.com,6091 Bluefish Lane,否,高价值客户
13,Cust-10210,女,55,高中,普通工人,5至10万,138****0143,否,maurice4@adventure-works.com,2964 Mt. Washington,否,高价值客户
...,...,...,...,...,...,...,...,...,...,...,...,...
771,Cust-21670,女,45,初中及其以下,管理人员,5万以下,188****0149,是,nicole9@adventure-works.com,505 Lyman Rd,否,高价值客户
782,Cust-21835,女,42,本科,管理人员,30万以上,175****0149,是,sydney78@adventure-works.com,2957 Tri-state Avenue,否,高价值客户
783,Cust-21850,男,37,本科,专业人员,20至30万,138****0141,否,april1@adventure-works.com,77 Birchwood,否,高价值客户
785,Cust-21880,女,37,高中,普通工人,5至10万,177****0166,是,bethany10@adventure-works.com,1080 Crestwood Circle,否,高价值客户
788,Cust-21925,男,61,高中,普通工人,5至10万,181****0178,否,lucas10@adventure-works.com,7901 Moccasin Ct.,否,高价值客户

In [26]:
ans1_3 = customer[~customer.isin(ans1_2)].dropna()

,客户编号,性别,年龄,学历,职业,收入,手机号码,婚姻状况,邮箱地址,家庭地址,是否退休,客户等级
0,False,False,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
785,False,False,False,False,False,False,False,False,False,False,False,False
786,True,True,True,True,True,True,True,True,True,True,True,True
787,True,True,True,True,True,True,True,True,True,True,True,True
788,False,False,False,False,False,False,False,False,False,False,False,False
789,True,True,True,True,True,True,True,True,True,True,True,True

In [7]:
ans1_4 = ans1_3
ans1_4.loc[ans1_3["职业"] == "公司白领", "是否退休"] = ans1_4.loc[ans1_3["职业"] == "公司白领", "是否退休"].str.replace("否", "是")
ans1_4

,客户编号,性别,年龄,学历,职业,收入,手机号码,婚姻状况,邮箱地址,家庭地址,是否退休,客户等级
1,Cust-10030,男,54.0,硕士及其以上,技术工人,10至20万,132****0174,是,mariah6@adventure-works.com,4924 Mariposa,否,低价值客户
2,Cust-10045,男,37.0,高中,普通工人,5至10万,185****0117,否,ebony4@adventure-works.com,4381 Amazonas,否,低价值客户
3,Cust-10060,女,60.0,初中及其以下,普通工人,5万以下,155****0164,是,brooke7@adventure-works.com,5720 A St.,是,低价值客户
4,Cust-10075,男,28.0,本科,公司白领,30万以上,145****0190,是,dalton18@adventure-works.com,1906 Seaview Avenue,是,一般价值客户
5,Cust-10090,女,36.0,高中,普通工人,5至10万,152****0117,否,linda31@adventure-works.com,265 Jeff Ct,否,一般价值客户
...,...,...,...,...,...,...,...,...,...,...,...,...
781,Cust-21820,女,37.0,本科,专业人员,20至30万,151****0180,是,cameron39@adventure-works.com,6538 Camelback Road,否,低价值客户
784,Cust-21865,女,29.0,高中,普通工人,5至10万,177****0171,是,katherine88@adventure-works.com,8245 Pinehurst Court,否,低价值客户
786,Cust-21895,男,27.0,大专,普通工人,5万以下,130****0128,是,abby4@adventure-works.com,7834 Roux Court,否,低价值客户
787,Cust-21910,女,47.0,本科,管理人员,30万以上,152****0148,是,ariana5@adventure-works.com,3792 Westwood Ct.,否,一般价值客户
789,Cust-10615,女,63.0,高中,普通工人,5至10万,185****0168,否,vincent21@adventure-works.com,4059 High Street,是,一般价值客户

In [8]:
# ans 1_5
# order_time = order["订单日期"].astype("str").str.split("-")
# month = order_time.map(lambda x: x[1])
# month
month = order["订单日期"].dt.month
season = month.map(lambda x: "春" if x in [3, 4, 5] else "夏" if x in [6, 7, 8] else "秋" if x in [9, 10, 11] else "冬")
order.loc[:, "season"] = season
order

,订单编号,订单日期,门店名称,支付方式,发货日期,实际配送天数,计划配送天数,客户编号,客户姓名,客户类型,...,子类别,销售额,数量,折扣,利润额,销售经理,是否退回,是否满意,年份,season
0,CN-2014-100007,2014-01-01,定远路店,信用卡,2014-01-06,5,6,Cust-11980,林丹,消费者,...,系固件,1622.600,5,0.0,291.34,郝杰,1,0,2014,冬
1,CN-2014-100001,2014-01-01,人民路店,其它,2014-01-03,2,0,Cust-12430,苏冬露,小型企业,...,收纳具,919.100,5,0.0,144.24,郝杰,0,0,2014,冬
2,CN-2014-100002,2014-01-01,杨店店,支付宝,2014-01-03,2,2,Cust-12430,苏冬露,小型企业,...,收纳具,284.480,4,0.0,47.53,郝杰,0,1,2014,冬
3,CN-2014-100003,2014-01-01,庐江路,微信,2014-01-03,2,2,Cust-12430,苏冬露,小型企业,...,信封,920.976,4,0.4,-41.49,郝杰,0,0,2014,冬
4,CN-2014-100004,2014-01-01,金寨店,信用卡,2014-01-03,2,2,Cust-13405,薛光,消费者,...,纸张,95.088,2,0.4,-8.05,张怡莲,0,0,2014,冬
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19485,CN-2020-101502,2020-06-30,金寨店,微信,2020-07-02,2,1,Cust-18715,邢宁,公司,...,用品,586.152,6,0.4,-41.40,王倩倩,0,1,2020,夏
19486,CN-2020-101503,2020-06-30,海恒店,其它,2020-07-04,4,4,Cust-18715,邢宁,公司,...,用品,2154.600,10,0.0,133.44,王倩倩,1,0,2020,夏
19487,CN-2020-101499,2020-06-30,临泉路,其它,2020-07-02,2,3,Cust-19900,谭珊,消费者,...,用品,108.080,2,0.0,47.99,杨洪光,0,0,2020,夏
19488,CN-2020-101500,2020-06-30,海恒店,信用卡,2020-07-02,2,3,Cust-19900,谭珊,消费者,...,书架,1700.160,1,0.0,194.63,王倩倩,0,0,2020,夏
19489,CN-2020-101505,2020-06-30,定远路店,微信,2020-07-04,4,4,Cust-21790,彭雯,消费者,...,复印机,2034.900,3,0.0,149.44,杨洪光,1,0,2020,夏

# 任务二

In [9]:
ans2_1 = order.groupby("season").agg(订单数量=("订单编号", "count"))
ans2_1 = ans2_1.loc[ans2_1["订单数量"].idxmax(), :]
ans2_1

订单数量    5991
Name: 秋, dtype: int64

In [10]:
order.loc[:, "是否打折"] = order["折扣"].apply(lambda x: "是" if x > 0 else "否")
ans2_2 = order.groupby("是否打折").agg(占比=("订单编号", "count"))
ans2_2 = ans2_2.transform(lambda x: x / x["占比"].sum()).round(2)
ans2_2

        占比
是否打折
否     0.73
是     0.27

In [11]:
ans2_3 = order.query("(`是否退回` == 0) and `实际配送天数` != 0")
ans2_3 = ans2_3.drop_duplicates(subset=["订单编号"])
ans2_3 = ans2_3["实际配送天数"].median()
ans2_3

4.0

In [12]:
ans2_4 = order.loc[order["实际配送天数"] - order["计划配送天数"] < 0, :]
order.loc[order["实际配送天数"] - order["计划配送天数"] < 0, "实际配送天数"] = ans2_4["计划配送天数"] + 1
order

,订单编号,订单日期,门店名称,支付方式,发货日期,实际配送天数,计划配送天数,客户编号,客户姓名,客户类型,...,销售额,数量,折扣,利润额,销售经理,是否退回,是否满意,年份,season,是否打折
0,CN-2014-100007,2014-01-01,定远路店,信用卡,2014-01-06,7,6,Cust-11980,林丹,消费者,...,1622.600,5,0.0,291.34,郝杰,1,0,2014,冬,否
1,CN-2014-100001,2014-01-01,人民路店,其它,2014-01-03,2,0,Cust-12430,苏冬露,小型企业,...,919.100,5,0.0,144.24,郝杰,0,0,2014,冬,否
2,CN-2014-100002,2014-01-01,杨店店,支付宝,2014-01-03,2,2,Cust-12430,苏冬露,小型企业,...,284.480,4,0.0,47.53,郝杰,0,1,2014,冬,否
3,CN-2014-100003,2014-01-01,庐江路,微信,2014-01-03,2,2,Cust-12430,苏冬露,小型企业,...,920.976,4,0.4,-41.49,郝杰,0,0,2014,冬,是
4,CN-2014-100004,2014-01-01,金寨店,信用卡,2014-01-03,2,2,Cust-13405,薛光,消费者,...,95.088,2,0.4,-8.05,张怡莲,0,0,2014,冬,是
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19485,CN-2020-101502,2020-06-30,金寨店,微信,2020-07-02,2,1,Cust-18715,邢宁,公司,...,586.152,6,0.4,-41.40,王倩倩,0,1,2020,夏,是
19486,CN-2020-101503,2020-06-30,海恒店,其它,2020-07-04,4,4,Cust-18715,邢宁,公司,...,2154.600,10,0.0,133.44,王倩倩,1,0,2020,夏,否
19487,CN-2020-101499,2020-06-30,临泉路,其它,2020-07-02,4,3,Cust-19900,谭珊,消费者,...,108.080,2,0.0,47.99,杨洪光,0,0,2020,夏,否
19488,CN-2020-101500,2020-06-30,海恒店,信用卡,2020-07-02,4,3,Cust-19900,谭珊,消费者,...,1700.160,1,0.0,194.63,王倩倩,0,0,2020,夏,否
19489,CN-2020-101505,2020-06-30,定远路店,微信,2020-07-04,4,4,Cust-21790,彭雯,消费者,...,2034.900,3,0.0,149.44,杨洪光,1,0,2020,夏,否

In [13]:
order["产品名称"].unique()

array(['Stockwell_订书钉_每包_12_个', 'Rogers_文件夹_单宽度', 'Tenex_盘_工业', ...,
       'Lesro_咖啡桌_黑色', 'Eldon_文件夹_蓝色', 'SanDisk_令_每包_12_个'], dtype=object)

In [14]:
order.loc[:, "产品"] = order["产品名称"].str.split("_").str[1]
order.loc[:, "特征"] = order["产品名称"].str.split("_").str[-1]
ans2_5 = order.loc[order["特征"].str.startswith("红")].groupby("产品").agg(数量=("订单编号", "count"))
ans2_5.loc[ans2_5.idxmax()]

            数量
产品
Creations  157

# 任务三

In [15]:
order.loc[:, "订单地区年份"] = order["订单编号"].str.extract(r"(.*?-.*?)-.*?")
order.loc[order["订单编号"].str.startswith("CN"), "订单编号"] = order.loc[order["订单编号"].str.startswith("CN"), "订单编号"].str.replace("CN", "C")
ans3_1 = order.merge(customer, how="left", on="客户编号")
ans3_1

,订单编号,订单日期,门店名称,支付方式,发货日期,实际配送天数,计划配送天数,客户编号,客户姓名,客户类型,...,年龄,学历,职业,收入,手机号码,婚姻状况,邮箱地址,家庭地址,是否退休,客户等级
0,C-2014-100007,2014-01-01,定远路店,信用卡,2014-01-06,7,6,Cust-11980,林丹,消费者,...,64.0,高中,普通工人,5至10万,185****0115,否,alvin21@adventure-works.com,4051 Sun View Terrace,是,一般价值客户
1,C-2014-100001,2014-01-01,人民路店,其它,2014-01-03,2,0,Cust-12430,苏冬露,小型企业,...,39.0,高中,普通工人,5至10万,150****0162,否,ryan43@adventure-works.com,9844 Green Tea Drive,否,低价值客户
2,C-2014-100002,2014-01-01,杨店店,支付宝,2014-01-03,2,2,Cust-12430,苏冬露,小型企业,...,39.0,高中,普通工人,5至10万,150****0162,否,ryan43@adventure-works.com,9844 Green Tea Drive,否,低价值客户
3,C-2014-100003,2014-01-01,庐江路,微信,2014-01-03,2,2,Cust-12430,苏冬露,小型企业,...,39.0,高中,普通工人,5至10万,150****0162,否,ryan43@adventure-works.com,9844 Green Tea Drive,否,低价值客户
4,C-2014-100004,2014-01-01,金寨店,信用卡,2014-01-03,2,2,Cust-13405,薛光,消费者,...,36.0,本科,公司白领,30万以上,149****0178,是,julia38@adventure-works.com,7308 Star Tree Court,否,低价值客户
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19485,C-2020-101502,2020-06-30,金寨店,微信,2020-07-02,2,1,Cust-18715,邢宁,公司,...,46.0,本科,技术工人,20至30万,157****0144,否,david83@adventure-works.com,8083 Ridgewood Drive,否,一般价值客户
19486,C-2020-101503,2020-06-30,海恒店,其它,2020-07-04,4,4,Cust-18715,邢宁,公司,...,46.0,本科,技术工人,20至30万,157****0144,否,david83@adventure-works.com,8083 Ridgewood Drive,否,一般价值客户
19487,C-2020-101499,2020-06-30,临泉路,其它,2020-07-02,4,3,Cust-19900,谭珊,消费者,...,41.0,高中,普通工人,5至10万,184****0152,否,nicole23@adventure-works.com,1747 Corte Segundo,否,低价值客户
19488,C-2020-101500,2020-06-30,海恒店,信用卡,2020-07-02,4,3,Cust-19900,谭珊,消费者,...,41.0,高中,普通工人,5至10万,184****0152,否,nicole23@adventure-works.com,1747 Corte Segundo,否,低价值客户
19489,C-2020-101505,2020-06-30,定远路店,微信,2020-07-04,4,4,Cust-21790,彭雯,消费者,...,45.0,硕士及其以上,技术工人,20至30万,137****0166,是,alexia13@adventure-works.com,5697 Jacqueline Way,否,一般价值客户

In [16]:
ans3_2 = ans3_1.query("`是否退回` == 0").groupby("客户编号").agg(次数=("订单编号", "count"))
ans3_2 = ans3_2.loc[ans3_2["次数"] >= 20, :]
ans3_2

            次数
客户编号
Cust-10015  32
Cust-10030  36
Cust-10045  34
Cust-10060  24
Cust-10075  36
...         ..
Cust-21685  36
Cust-21700  20
Cust-21745  32
Cust-21775  25
Cust-21880  35

[468 rows x 1 columns]

In [17]:
# ans3_3 写起来太麻烦了暂时跳过

In [18]:
ans3_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19490 entries, 0 to 19489
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单编号    19490 non-null  object
 1   订单日期    19490 non-null  datetime64[ns]
 2   门店名称    19490 non-null  object
 3   支付方式    19490 non-null  object
 4   发货日期    19490 non-null  datetime64[ns]
 5   实际配送天数  19490 non-null  int64
 6   计划配送天数  19490 non-null  int64
 7   客户编号    19490 non-null  object
 8   客户姓名    19490 non-null  object
 9   客户类型    19490 non-null  object
 10  城市      19490 non-null  object
 11  省市      19490 non-null  object
 12  地区      19490 non-null  object
 13  产品编号    19490 non-null  object
 14  产品名称    19490 non-null  object
 15  商品类别    19490 non-null  object
 16  子类别     19490 non-null  object
 17  销售额     19490 non-null  float64
 18  数量      19490 non-null  int32
 19  折扣      19490 non-null  float64
 20  利润额     19490 non-null  float64
 21  销售经理    19490 non-null  object
 22  是否退回    19490 non-null  int64
 23  是否满意    19490 non-null  int64
 24  年份      19490 non-null  int64
 25  season  19490 non-null  object
 26  是否打折    19490 non-null  object
 27  产品      19490 non-null  object
 28  特征      19490 non-null  object
 29  订单地区年份  19490 non-null  object
 30  性别      19480 non-null  object
 31  年龄      19480 non-null  float64
 32  学历      19480 non-null  object
 33  职业      19480 non-null  object
 34  收入      19480 non-null  object
 35  手机号码    19480 non-null  object
 36  婚姻状况    19480 non-null  object
 37  邮箱地址    19480 non-null  object
 38  家庭地址    19480 non-null  object
 39  是否退休    19480 non-null  object
 40  客户等级    19480 non-null  object
dtypes: datetime64[ns](2), float64(4), int32(1), int64(5), object(29)
memory usage: 6.2+ MB

In [19]:
ans3_4 = ans3_1.groupby("商品类别").agg(销售金额=("销售额", np.sum))
ans3_4.loc[ans3_4.idxmax()]

              销售金额
商品类别
办公用品  1.338664e+07

In [20]:
ans3_1.loc[:, "订单日期"] = ans3_1.loc[:, "订单日期"].apply(lambda x: x.replace(hour=np.random.randint(0, 24), minute=np.random.randint(0, 60), second=np.random.randint(0, 60)))

In [21]:
order_hour = ans3_1.loc[:, "订单日期"].dt.hour
time_cut = pd.cut(order_hour, range(0, 25, 2), right=False, labels=[f"{str(x)} - {str(y)}" for x, y in zip(range(0, 23, 2), range(2, 25, 2))])
ans3_5 = time_cut.value_counts().sort_index(ascending=True).rename(index="时间段")
ans3_5 = pd.Series(ans3_5.max() ,index = [ans3_5.idxmax()], name="时间段")
ans3_5

20 - 22    1719
Name: 时间段, dtype: int64

In [22]:
ans3_1.loc[:, "订单月份"] = ans3_1["订单日期"].dt.month
ans3_6 = ans3_1.query("(`是否退回` == 0) and `订单月份` == 10").groupby("客户编号").agg(次数=("订单编号", "count"))
ans3_6 = len(ans3_6.loc[ans3_6["次数"] >= 2, :]) / len(ans3_6)
ans3_6 = f'{np.round(ans3_6, 2)}%'
ans3_6

'0.89%'

# 任务四